[Unit]
Description=Supervisor for dshop-crawler
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/supervisord -n -c /root/dshop_crawler/supervisord.conf
Restart=always
User=root

[Install]
WantedBy=multi-user.target
