[supervisord]
logfile=/root/dshop_crawler/logs/supervisord.log
pidfile=/root/dshop_crawler/logs/supervisord.pid
#user=root

[program:dshop-crawler]
command=/root/dshop_crawler/.venv/bin/python3 crawler/crawler.py
directory=/root/dshop_crawler
autostart=true
autorestart=true
stderr_logfile=/root/dshop_crawler/logs/crawler.err.log
stdout_logfile=/root/dshop_crawler/logs/crawler.out.log
user=root
